@font-face {
  font-family: 'HelveticaNeueLight';
  src: url('../fonts/HelveticaNeueLight.eot');
  src: url('../fonts/HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueLight.woff') format('woff'),
       url('../fonts/HelveticaNeueLight.ttf')  format('truetype');
}

@font-face {
  font-family: 'HelveticaNeueCondensedBold';
  src: url('../fonts/HelveticaNeueCondensedBold.eot');
  src: url('../fonts/HelveticaNeueCondensedBold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HelveticaNeueCondensedBold.woff') format('woff'),
       url('../fonts/HelveticaNeueCondensedBold.ttf')  format('truetype');
}
