$green: #9ce205 !default;
$purple: #6257b7 !default;
$purple-dark: #3b256b !default;


//responsive
$screen-sm: 768px !default;
$screen-md: 992px !default;
$screen-lg: 1200px !default;
$screen-xlg: 1620px !default;
